#app {
	position: absolute;
	top: 2vh;
	right: 1.5vw;
	bottom: 2vh;
	left: 1.5vw;

  display: flex;
  flex-direction: row;

  #leftPanel {
    flex-grow: 1;

    #header h1 {
      margin: 0;
    }

    #offsetForm {

      table {
        th {
          text-align: left;
        }
        #totalTitle {
          text-align: right;
        }
      }
    }
  }

  #rightPanel {
    border-left: 1px solid #000000;
  }
}