#app {
	position: absolute;
	top: 2vh;
	right: 1.5vw;
	bottom: 2vh;
	left: 1.5vw;

  display: grid;
  grid-template-columns: 5fr 4fr;
  grid-template-rows: 1fr;

  #leftPanel {
    grid-column: 1;

    display: flex;
    flex-direction: column;
    max-height: 100%;

    font-size: 1vw;
    
    margin-right: 1.5vw;

    h1, h2, h3, h4, h5, h6 {
      margin: 0 0 0.5em;
    }

    #offsetForm {
      flex-grow: 1;
      flex-shrink: 1;

      display: flex;
      flex-direction: column;

      button, input[type=submit], select {
        cursor: pointer;
        background: #eeeeee;
        border: 1px solid #cccccc;
        padding: 0.5em 1em;
        font-size: 0.95em;

        transition: background-color 0.1s;

        &:not(:first-child) {
          margin-left: 0.5em;
        }

        &:hover {
          background: #cccccc;
        }
      }
      
      #tableContainer {
        display: flex;
        flex-direction: column;

        margin: 1.5em 0;

        flex-grow: 1;
        height: 1px;

        #tableScrollBox {
          flex-grow: 1;
          overflow-y: auto;

          table {
            width: 100%;
            table-layout: fixed;
            margin: 0 -5px;
    
            th, td {
              text-align: left;
              padding: 3px 5px;
            }
    
            input {
              background: #eeeeee;
              border: 1px solid #cccccc;
              padding: 3% 5%;
              font-size: 1vw;
              width: 90%;

              &.validationError {
                border-color: #ff0000;
              }
            }
    
            button {
              margin: 0;
            }
    
            #totalTitle {
              text-align: right;
            }
          }
        }
      }
    }

    #summary {
      text-align: justify;

      #treeQuantityWarning {
        color: #dd0000;
      }
    }
  }

  #rightPanel {
    min-width: 0;
    grid-column: 2;
    border-left: 1px solid #000000;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}